<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 SSD-TCHHAFR1

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTenantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form>
 <h:panelGrid columns="4">
                    <h:outputLabel value="#{bundle.EditTenantLabel_bsk}" for="bsk" />
                    <h:inputText id="bsk" value="#{tenantController.selected.bsk}" title="#{bundle.EditTenantTitle_bsk}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerName}" for="customerName" />
                    <h:inputText id="customerName" value="#{tenantController.selected.customerName}" title="#{bundle.EditTenantTitle_customerName}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerStreet}" for="customerStreet" />
                    <h:inputText id="customerStreet" value="#{tenantController.selected.customerStreet}" title="#{bundle.EditTenantTitle_customerStreet}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerState}" for="customerState" />
                    <h:inputText id="customerState" value="#{tenantController.selected.customerState}" title="#{bundle.EditTenantTitle_customerState}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerZIP}" for="customerZIP" />
                    <h:inputText id="customerZIP" value="#{tenantController.selected.customerZIP}" title="#{bundle.EditTenantTitle_customerZIP}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerCity}" for="customerCity" />
                    <h:inputText id="customerCity" value="#{tenantController.selected.customerCity}" title="#{bundle.EditTenantTitle_customerCity}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerCountry}" for="customerCountry" />
                    <h:inputText id="customerCountry" value="#{tenantController.selected.customerCountry}" title="#{bundle.EditTenantTitle_customerCountry}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerDomain}" for="customerDomain" />
                    <h:inputText id="customerDomain" value="#{tenantController.selected.customerDomain}" title="#{bundle.EditTenantTitle_customerDomain}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_adminFirstName}" for="adminFirstName" />
                    <h:inputText id="adminFirstName" value="#{tenantController.selected.adminFirstName}" title="#{bundle.EditTenantTitle_adminFirstName}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_adminLastName}" for="adminLastName" />
                    <h:inputText id="adminLastName" value="#{tenantController.selected.adminLastName}" title="#{bundle.EditTenantTitle_adminLastName}" />                   
                    <h:outputLabel value="#{bundle.EditTenantLabel_customerMail}" for="customerMail" />
                    <h:inputText id="customerMail" value="#{tenantController.selected.customerMail}" title="#{bundle.EditTenantTitle_customerMail}" />
                    <h:outputLabel value="#{bundle.CreateTenantLabel_adminPassword}" for="adminPassword"/>
                    <h:inputText id="adminPassword" value="#{tenantController.selected.adminPassword}"/>
                    <h:outputLabel value="#{bundle.CreateTenantLabel_SCSAdminPassword}" for="SCSAdminPassword"/>
                    <h:inputText id="SCSAdminPassword" value="#{tenantController.selected.SCSAdminPassword}"/>
                    <h:outputLabel value="#{bundle.EditTenantLabel_adminLang}" for="adminLang" />
                    <p:selectOneRadio id="adminLang" value="#{tenantController.selected.adminLang}">
                        <f:selectItem itemLabel="#{bundle.selectLanguageGer}" itemValue="de"/>
                        <f:selectItem itemLabel="#{bundle.selectLanguageFra}" itemValue="fr"/>
                        <f:selectItem itemLabel="#{bundle.selectLanguageEng}" itemValue="en" />
                        <f:selectItem itemLabel="#{bundle.selectLanguageIt}" itemValue="it" />
                    </p:selectOneRadio>

                    <h:outputLabel value="#{bundle.EditTenantLabel_isTrial}" for="isTrial" />
                    <p:selectBooleanCheckbox value="#{tenantController.selected.isTrial}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_AppsOption}" for="mianywareapps" />
                    <p:selectBooleanCheckbox value="#{tenantController.selected.mianywareapps}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_SecurityOption}" for="mianywaresecurity" />
                    <p:selectBooleanCheckbox value="#{tenantController.selected.mianywaresecurity}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_ContentOption}" for="mianywarecontent" />
                    <p:selectBooleanCheckbox value="#{tenantController.selected.mianywarecontent}" />
                    <h:outputLabel value="#{bundle.EditTenantLabel_CSKContact}" for="cskContact"/>
                    <h:inputText id="cskContact" value="#{tenantController.selected.cskContact}" title="#{bundle.EditTenantLabel_CSKContact}"/>
                    <h:outputLabel value="#{bundle.EditTenantLabel_SalesContact}" for="salesContact"/>
                    <h:inputText id="salesContact" value="#{tenantController.selected.salesContact}" title="#{bundle.EditTenantLabel_SalesContact}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tenantController.create}" value="#{bundle.CreateTenantSaveLink}" />
                <br />
                <h:commandLink action="#{tenantController.prepareList}" value="#{bundle.CreateTenantShowAllLink}" immediate="true"/>
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTenantIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
