<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 SSD-TCHHAFR1

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTenantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:outputText escape="false" value="#{bundle.ListTenantEmpty}" rendered="#{tenantController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tenantController.items.rowCount > 0}">
                    <h:outputText value="#{tenantController.pagination.pageFirstItem + 1}..#{tenantController.pagination.pageLastItem + 1}/#{tenantController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tenantController.previous}" value="#{bundle.Previous} #{tenantController.pagination.pageSize}" rendered="#{tenantController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tenantController.next}" value="#{bundle.Next} #{tenantController.pagination.pageSize}" rendered="#{tenantController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tenantController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_bsk}"/>
                            </f:facet>
                            <h:outputText value="#{item.bsk}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_customerName}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_customerMail}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerMail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_licenceKey}"/>
                            </f:facet>
                            <h:outputText value="#{item.licenceKey}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_tenantId}"/>
                            </f:facet>
                            <h:outputText value="#{item.tenantId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_tenantDmPartitionId}"/>
                            </f:facet>
                            <h:outputText value="#{item.tenantDmPartitionId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_tenantCmPartitionId}"/>
                            </f:facet>
                            <h:outputText value="#{item.tenantCmPartitionId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_adminLang}"/>
                            </f:facet>
                            <h:outputText value="#{item.adminLang}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_isTrial}"/>
                            </f:facet>
                            <h:outputText value="#{item.isTrial}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_trialStartDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.trialStartDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_trialEndDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.trialEndDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_CustomerReminderDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.trialReminderDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTenantTitle_InvitationSendtDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.invitationMailSentDate}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tenantController.prepareView}" value="#{bundle.ListTenantViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tenantController.prepareEdit}" value="#{bundle.ListTenantEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tenantController.destroy}" value="#{bundle.ListTenantDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tenantController.prepareCreate}" value="#{bundle.ListTenantCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTenantIndexLink}"/>

                <p:dataTable id="tbl" var="item" value="#{tenantController.tenantsList}" rendered="false">
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="BSK" />  
                        </f:facet> 
                        <h:outputText value="#{item.bsk}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="Customer Name" />  
                        </f:facet> 
                        <h:outputText value="#{item.customerName}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="Admin E-Mail" />  
                        </f:facet> 
                        <h:outputText value="#{item.customerMail}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="AdminPass" />  
                        </f:facet> 
                        <h:outputText value="#{item.adminPassword}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="LicenceKey" />  
                        </f:facet> 
                        <h:outputText value="#{item.licenceKey}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="tenantId" />  
                        </f:facet> 
                        <h:outputText value="#{item.tenantId}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="tenantDmPartitionId" />  
                        </f:facet> 
                        <h:outputText value="#{item.tenantDmPartitionId}"/>
                    </p:column>
                    <p:column headerText="tenantCmPartitionId">
                        <f:facet name="header">  
                            <h:outputText value="tenantCmPartitionId" />  
                        </f:facet> 
                        <h:outputText value="#{item.tenantCmPartitionId}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="SCS Mail" />  
                        </f:facet> 
                        <h:outputText value="#{item.SCSAdminMail}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">  
                            <h:outputText value="SCS Pass" />  
                        </f:facet> 
                        <h:outputText value="#{item.SCSAdminPassword}"/>
                    </p:column>
                    <p:column>                        
                        <f:facet name="header">  
                            <h:outputText value="Trial Start Date" />  
                        </f:facet> 
                        <h:outputText value="#{item.trialStartDate}"/>
                    </p:column>
                    <p:column> 
                        <f:facet name="header">  
                            <h:outputText value="Trial End Date" />  
                        </f:facet>  
                        <h:outputText value="#{item.trialEndDate}"/>
                    </p:column>
                    <p:column> 
                        <f:facet name="header">  
                            <h:outputText value="Active Users" />  
                        </f:facet>  
                        <h:outputText value="#{item.activeUsers}"/>
                    </p:column>
                    <p:column> 
                        <f:facet name="header">  
                            <h:outputText value="Device Count" />  
                        </f:facet>  
                        <h:outputText value="#{item.deviceCount}"/>
                    </p:column>
                    <p:column> 
                        <f:facet name="header">  
                            <h:outputText value="Device Count active" />  
                        </f:facet>  
                        <h:outputText value="#{item.deviceCountActive}"/>
                    </p:column>
                    <p:column> 
                        <f:facet name="header">  
                            <h:outputText value="Certificate uploaded" />  
                        </f:facet>  
                        <h:outputText value="#{item.mdmCertificateUploaded}"/>
                    </p:column>
                </p:dataTable>

                <br/>
                <h:commandLink value="export to excel">
                    <p:dataExporter type="xls" target="tbl" fileName="tenants" />
                </h:commandLink>
                <br/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
