<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 SSD-TCHHAFR1

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTenantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <h:panelGrid columns="4">
                    <h:outputText value="#{bundle.ViewTenantLabel_bsk}"/>
                    <h:outputText value="#{tenantController.selected.bsk}" title="#{bundle.ViewTenantTitle_bsk}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerName}"/>
                    <h:outputText value="#{tenantController.selected.customerName}" title="#{bundle.ViewTenantTitle_customerName}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerStreet}"/>
                    <h:outputText value="#{tenantController.selected.customerStreet}" title="#{bundle.ViewTenantTitle_customerStreet}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerDomain}"/>
                    <h:outputText value="#{tenantController.selected.customerDomain}" title="#{bundle.ViewTenantTitle_customerDomain}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerCity}"/>
                    <h:outputText value="#{tenantController.selected.customerCity}" title="#{bundle.ViewTenantTitle_customerCity}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerState}"/>
                    <h:outputText value="#{tenantController.selected.customerState}" title="#{bundle.ViewTenantTitle_customerState}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerZIP}"/>
                    <h:outputText value="#{tenantController.selected.customerZIP}" title="#{bundle.ViewTenantTitle_customerZIP}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_customerCountry}"/>
                    <h:outputText value="#{tenantController.selected.customerCountry}" title="#{bundle.ViewTenantTitle_customerCountry}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_adminFirstName}"/>
                    <h:outputText value="#{tenantController.selected.adminFirstName}" title="#{bundle.ViewTenantTitle_adminFirstName}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_adminLastName}"/>
                    <h:outputText value="#{tenantController.selected.adminLastName}" title="#{bundle.ViewTenantTitle_adminLastName}"/>
                    
                    <h:outputText value="#{bundle.ViewTenantLabel_customerMail}"/>
                    <h:outputText value="#{tenantController.selected.customerMail}" title="#{bundle.ViewTenantTitle_customerMail}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_adminPassword}"/>
                    <h:outputText value="#{tenantController.selected.adminPassword}" title="#{bundle.ViewTenantTitle_adminPassword}"/><h:outputText value="#{bundle.ViewTenantLabel_licenceID}"/>
                    <h:outputText value="#{tenantController.selected.licenceID}" title="#{bundle.ViewTenantTitle_licenceID}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_licenceKey}"/>
                    <h:outputText value="#{tenantController.selected.licenceKey}" title="#{bundle.ViewTenantTitle_licenceKey}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_tenantId}"/>
                    <h:outputText value="#{tenantController.selected.tenantId}" title="#{bundle.ViewTenantTitle_tenantId}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_tenantDmPartitionId}"/>
                    <h:outputText value="#{tenantController.selected.tenantDmPartitionId}" title="#{bundle.ViewTenantTitle_tenantDmPartitionId}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_tenantCmPartitionId}"/>
                    <h:outputText value="#{tenantController.selected.tenantCmPartitionId}" title="#{bundle.ViewTenantTitle_tenantCmPartitionId}"/>
                     <h:outputText value="#{bundle.ViewTenantLabel_adminLang}"/>
                    <h:outputText value="#{tenantController.selected.adminLang}" title="#{bundle.ViewTenantTitle_adminLang}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_SCSAdminMail}"/>
                    <h:outputText value="#{tenantController.selected.SCSAdminMail}" title="#{bundle.ViewTenantTitle_SCSAdminMail}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_SCSAdminPassword}"/>
                    <h:outputText value="#{tenantController.selected.SCSAdminPassword}" title="#{bundle.ViewTenantTitle_SCSAdminPassword}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_isTrial}"/>
                    <h:outputText value="#{tenantController.selected.isTrial}" title="#{bundle.ViewTenantTitle_isTrial}"/>
                    <h:outputText value="#{bundle.EditTenantLabel_AppsOption}"/>
                    <h:outputText value="#{tenantController.selected.mianywareapps}"/>
                    <h:outputText value="#{bundle.EditTenantLabel_SecurityOption}"/>
                    <h:outputText value="#{tenantController.selected.mianywaresecurity}"/>
                    <h:outputText value="#{bundle.EditTenantLabel_ContentOption}"/>
                    <h:outputText value="#{tenantController.selected.mianywarecontent}"/>
                    <h:outputText value="#{bundle.ViewTenantLabel_trialStartDate}"/>
                    <h:outputText value="#{tenantController.selected.trialStartDate}" title="#{bundle.ViewTenantTitle_trialStartDate}">
                        <f:convertDateTime pattern="yyyy--MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTenantLabel_trialEndDate}"/>
                    <h:outputText value="#{tenantController.selected.trialEndDate}" title="#{bundle.ViewTenantTitle_trialEndDate}">
                        <f:convertDateTime pattern="yyyy--MM-dd" />
                    </h:outputText>
                    <h:outputText value="#{bundle.EditTenantLabel_RecontactDate}"/>
                    <h:outputText value="#{tenantController.selected.trialReminderDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:outputText>
                    <h:outputText value="#{bundle.EditTenantLabel_InviteDate}"/>
                    <h:outputText value="#{tenantController.selected.invitationMailSentDate}">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </h:outputText>
                    
                </h:panelGrid>
                <br />
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTenantEditLink}"/>
                <br />
                <h:commandLink action="#{tenantController.prepareCreate}" value="#{bundle.ViewTenantCreateLink}" />
                <br />
                <h:commandLink action="#{tenantController.prepareList}" value="#{bundle.ViewTenantShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTenantIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
