<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.MainTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            Welcome to the MDS Cloud administration utility for MobileIron Polaris
<!--            <h:link outcome="/tenant/List" value="Show All Tenant Items"/>-->
            <!--        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->
        </ui:define>
    </ui:composition>
</html>

