<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 SSD-TCHHAFR1

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>


    <h:body>
        <div id="main">
            <div id="header">
                <div id="widgetBar">

                    <div class="headerWidget">
                        [ language toggle ]
                    </div>



                </div>

                <a href="#">
                    <img src="/anyware_controller-war/resources/img/swisscom-logo.png" id="logo" alt="Swisscom Logo"></img>
                </a>

                <!--                <img src="#" id="logoText" alt="Swisscom powered"></img>-->
            </div>

            <div id="indexLeftColumn">
                <div id="indexLeftColumnWidgets">
                    <p id="ActionsText">
                                    
                        <h:link outcome="/tenant/List" value="Show All Entries"/>
                    </p>
                </div>
            </div>

            <div id="indexRightColumn">
                <h1>
                    <ui:insert name="title">Tenant Administration</ui:insert>
                </h1>
                <ui:insert name="body"></ui:insert>
            </div>

            <div id="footer">
                <hr/>
                <p id="FooterText">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                </p>
            </div>
        </div>
    </h:body>

</html>
